<header class="header">
    <div id="menu-button">
        <svg  class="menu-button-open"  width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="44" height="37" fill="black" />
            <rect x="13" y="13" width="17" height="2" fill="white"/>
            <rect x="13" y="17" width="17" height="2" fill="white"/>
            <rect x="13" y="21" width="17" height="2" fill="white"/>
        </svg>
        <svg class="menu-button-close" width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="44" height="37" fill="black"/>
            <rect x="27.8033" y="24.7175" width="17" height="2" transform="rotate(-135 27.8033 24.7175)" fill="white"/>
            <rect x="15.7825" y="23.3033" width="17" height="2" transform="rotate(-45 15.7825 23.3033)" fill="white"/>
        </svg>
    </div>
    <div class="navbar">
        <a class="navbar-nav-item active" href="/">home</a>
        <a class="navbar-nav-item" href="/">about us</a>
        <a class="navbar-nav-item" href="/">our journal</a>
        <a class="navbar-nav-item" href="/">projects</a>
        <a class="navbar-nav-item" href="/">news</a>
        <a class="navbar-nav-item" href="/">features</a>
        <a class="navbar-nav-item" href="/">contact</a>
    </div>
</header>