@import 'fonts/fonts';
@import 'variables/variables';
@import 'mixins/mixins';

//styles
body {
  img {
    width: 100%;
  }
}

.header {
  @include width-variable;
  grid-area: header;
  margin-top: 41px;
  margin-bottom: 43px;
  #menu-button {
   display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 900px;
    margin: 0 auto;
    //height: 60px;
    font-size: 16px;

    a.navbar-nav-item {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 22px;
      display: flex;
      align-items: center;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      text-decoration: none;
      color: #4E4E4E;
    }

    a.navbar-nav-item.active {
      color: #57A4A4;
    }
  }
}


body.wrapper {
  display: grid;
  //grid-gap: 10px;
  grid-template-areas: "header" "content" "footer ";
  background-color: #fff;
  color: #444;
  margin: 0;
  //margin-top: 23px;
}

.content {
  @include width-variable;
  max-width: 1170px;
  transition: all .5s;
  user-select: none;
  font-size: 14px;
  grid-area: content;

  .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 40px;

    .news_item {
      //border: 1px solid gray;
      display: grid;
      grid-template-columns: 140px auto;
      background: white;
      margin-bottom: 30px;

      .news__item_txt_block {
        padding-left: 15px;

        .txt_block_header {
          font-weight: bold;
          font-size: 16px;
          line-height: 30px;
          color: #4E4E4E;
        }

        .txt_block_info {
          font-size: 12px;
          line-height: 20px;
          color: #7C7C7C;
          margin-bottom: 10px;
        }

        .txt_block_text {
          font-size: 14px;
          line-height: 26px;
          color: #5C5C5C;
        }
      }
    }
  }

  .newsListHeader {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;
    margin-top: 55px;
    margin-bottom: 24px;
  }
}

footer {
  grid-area: footer;
  padding: 0 0 0px 0;
  margin: 0 auto;
  //height: 100px;
  width: 100%;
  background: #f7f7f7;
  .insta {
    //background: #f7f7f7;
    padding: 45px 0;
    width: 100%;
    @include width-variable;
    .instaHeader {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      height: 22px;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      color: #4E4E4E;
      margin-bottom: 10px;

      .instaHeaderRight {
        font-size: 13px;
      }
    }

    .instaPhotos {
      display: flex;
      max-width: 1170px;
      margin: 0 auto;
      justify-content: space-between;
      width: 100%;

      img {
        //max-width: 285px;
        width: 24.5%;
      }
    }
  }

  .footerContact {
    text-align: center;
    width: 100%;
    background: $footer-color;
    color: white;
    padding: 70px 0;
    color: #B9B9B9;

    .footerContactHeader {
      margin-bottom: 22px;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      color: white;
    }

    .footerContactText {
      margin-bottom: 37px;
    }

    .footerContactIcons {
      display: flex;
      justify-content: center;
      margin-bottom: 34px;

      div {
        margin: 0 5px;
      }
    }
  }

}


@media screen and (max-width: 1199px) {
  .content {
    .news {
      grid-template-columns: 1fr;
      .news_item {
        .news__item_txt_block {

        }
      }
    }
  }

  footer {
    .insta {
      .instaHeader {
        .instaHeaderRight {
          display: none;
        }
      }
      .instaPhotos {
        img {
          width: 32%;
        }

        img:nth-last-child(2) {
          display: none;
        }
      }
    }
  }

}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
    margin-top: 23px;
    margin-bottom: 23px;
    text-align: -webkit-right;
    #menu-button {
      display: block;
      width: 44px;
      height: 37px;
      background: black;
      //float: right;
      cursor: pointer;
      .menu-button-close {
        display: none;
      }
      .menu-button-open{
        display: block;
      }
    }

    #menu-button.active {
      .menu-button-close {
        display: block;
      }
      .menu-button-open{
        display: none;
      }
    }
    .navbar {
      display: none;
    }
    .navbar.active {
      flex-direction: column;
      background: #F5F5F5;
      height: auto;
      min-width: 180px;
      text-align: left;
      right: 0;
      margin-right: 0;
      top: 37px;
      //padding: 15px 15px;
      position: absolute;
      display: block;
      a {
        padding: 5px 15px;
        &:hover {
          background: #dbdbdb;
        }
      }
    }
  }

  .content {
    .news {
      grid-template-columns: 1fr;
      margin-bottom: 0;
      .news_item {
        grid-template-columns: 1fr;
        .news__item_txt_block {
          padding: 0;
          margin-top: 10px;
          .txt_block_header {
            font-size: 14px;
          }
          .txt_block_info {
            font-size: 11px;
          }
          .txt_block_text {
            display: none;
          }
        }
        img {
          max-width: 160px;
        }
      }
    }
  }

  footer {
    background: none;
    .insta {
      .instaHeader {
        font-size: 14px;
      }
      .instaPhotos {
        img {
          width: 100%;
          max-width: 100%;
        }

        img:not(:first-child) {
          display: none;
        }
      }
    }
    .footerContact {
      padding: 37px 35px 47px 35px;
      width: auto;
     .footerContactHeader {
        font-size: 14px;
      }
      .footerContactText {
        //width: calc(100% - 70px);
        width: auto;
        margin: 0 auto;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 26px;
      }
      .footerContactLocation {
        span {
          display: inline-block;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}


